name: Playwright Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  playwright:
    name: Playwright Tests
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.61.0-focal
      options: --user 1001

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      # ✅ Set LambdaTest environment variables
      - name: Run Playwright tests on LambdaTest
        run: npx playwright test --reporter=list,html
        env:
          LT_USERNAME: ${{ secrets.LT_USERNAME }}
          LT_ACCESS_KEY: ${{ secrets.LT_ACCESS_KEY }}
          HOME: /root

      # ✅ Upload HTML report after every run
      - name: Upload Playwright HTML Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report

      # ✅ Upload screenshots only if tests fail
      - name: Upload Screenshots on Failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-failed-screenshots
          path: tests/test-results/**/*.png
