name: Playwright Tests

on:
  push:
    branches: [ main ]

jobs:
  playwright:
    name: 'Playwright Tests'
    runs-on: ubuntu-latest
    container:
      # Use the Playwright container with all dependencies
      image: mcr.microsoft.com/playwright:v1.56.1-focal

    steps:
      # Checkout the repo
      - uses: actions/checkout@v5

      # Setup Node.js
      - uses: actions/setup-node@v5
        with:
          node-version: lts/*

      # Install project dependencies
      - name: Install dependencies
        run: npm ci

      # Install Playwright browsers (already included in the container, optional)
      - name: Install Playwright browsers
        run: npx playwright install

      # Run Playwright tests
      - name: Run Playwright tests
        run: npx playwright test
